* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background-color: #09001d;
  overflow: hidden;

}

.Main-Container {


  min-height: 100vh;
  background: url(february-2-2019-carina-nebula-pillars.jpg) no-repeat;
  background-size: cover;
  background-position-x: center;
  pointer-events: auto;
  transition: 0.3s ease;
}


.Main-Container.active {
  filter: blur(10px);
  pointer-events: none;
}

.main {
  display: flex;
  height: 100vh;
  width: 200%;
}

.home {
  position: relative;
  left: -50%;


  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.home-content {
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.home-content h1 {
  font-size: 78px;
  font-weight: 700;
  text-shadow: 0 0 10 rgba(0, 0, 0, .3);
}

.home-content p {
  font-size: 25px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, .3);
  margin-bottom: 30px;
  margin-top: 15px;
  font-weight: 500;

}

.home-content .start-btn {
  width: 190px;
  height: 55px;
  background: #011e50;
  border: 2px solid #fff;
  outline: none;
  box-shadow: 0 0 10px #011e50;
  border-radius: 6px;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;

}

.home-content .start-btn:hover {
  background-color: #09001d;
  box-shadow: none;
}

.popup-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.9);
  width: 350px;
  background: rgb(39, 63, 63);
  border-radius: 6px;
  padding: 10px 25px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3 ease;


}

.popup-info.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.popup-info h2 {

  font-size: 40px;
  color: #09001d;
  font-weight: 600;
  margin-bottom: 10px;
  border-bottom: 1px solid #999;


}

.popup-info .info {
  display: inline-block;
  font-size: 16px;
  color: antiquewhite;
  font-weight: 500;
  margin: 4px 0;


}

.popup-info .input-side {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #09001d;
  flex-direction: row;






}

.popup-info .input-side label {
  font-size: 16px;
  display: flex;
  margin-top: 15px;




}

.popup-info .input-side .namel {
  display: block;
}

.popup-info .input-side #name {
  display: inline-block;
  height: 20px;
  width: 70x;
  outline: none;
  border: 2px solid #3a7293;
  background: #6b707a;
  color: #fff;
  padding: 5px 15px;
  margin-left: 10px;
  font-size: 16px;
  border-radius: 6px;

}

.popup-info .input-side #check[type='checkbox'] {
  cursor: pointer;
  border: 1px solid #011e50;
  background: #6f9dee;
  color: #09001d;
  height: 30px;
  width: 28px;
  margin-right: 10px;


}

.popup-info .btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #999;
  margin-top: 15px;
  padding: 15px 0 7px;
}

.popup-info .btn-group .info-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 45px;
  background: #011e50;
  border: 2px solid #011e50;
  outline: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: 0.5s;


}

.popup-info .btn-group .info-btn:nth-child(1) {
  background-color: rgb(59, 148, 148);
  color: rgb(114, 7, 7);

}

.popup-info .btn-group .info-btn:nth-child(1):hover {
  background-color: #011e50;
  color: #fff;
  border-color: #fff;
}

.popup-info .btn-group .info-btn:nth-child(2):hover {
  background-color: green;
  color: #fff;
  border-color: #fff;
}

.quiz-section {
  position: relative;
  left: -50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(february-5-2019-asteroid-6478-gault.png) no-repeat;
  background-size: cover;
  background-position-x: center;
  transition: 0.8s ease-in-out;
  transition-delay: .25s;
  z-index: 1;


}

.quiz-section.active {
  left: 0;
}

.quiz-section .settings-screen {
  position: relative;
  width: 500px;
  background: transparent;
  border: 3px solid #444860;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  transition: 0.8s ease-in-out;
  transition-delay: .25s;




}

.quiz-section .settings-screen.active {
  display: none;

}

.heading {
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-bottom: 30px;
}

.pre {
  margin-bottom: 20px;
  font-size: 25px;

}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}

select {
  width: 100%;
  padding: 10px;
  border: none;
  text-transform: capitalize;
  border-radius: 5px;
  margin-bottom: 25px;
  background: rgb(29, 21, 92);
  color: #ffffff;
  font-size: 16px;
}

.quiz-box {
  position: relative;
  width: 500px;
  height: 700px;
  background: transparent;
  border: 3px solid #484461;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  transition: 0.8s ease-in-out;
  transition-delay: .25s;


}

.quiz-box.active {
  display: none;
}

.quiz-box .quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  border-bottom: 2px solid #525e75;



}

.quiz-box h1 {
  font-size: 40px;
  text-align: center;
  background: linear-gradient(45deg, transparent, #011e50, transparent);
  border-radius: 6px;
}

.quiz-box .quiz-header img {
  height: 38px;
  width: 40px;
  border: 2px solid #011e50;
  border-radius: 100%;
  margin: 25px 10px 5px;

}

.quiz-box .quiz-header h3 {
  font-size: 16px;
  text-align: left;



}

.user-name {
  height: 50px;
  width: 250px;
  color: white;
}




.timer {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 40px;
}

.timer .progress {
  position: relative;
  width: 200px;
  height: 30px;
  background: transparent;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 10px;
  border: 2px solid #3f4868;
}

.timer .progress .progress-bar {
  width: 200px;
  height: 30px;
  border-radius: 30px;
  overflow: hidden;
  background: linear-gradient(to right, #880202, #1f15da);
  transition: 1s linear;
}

.timer .progress .progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.question-wrapper .number {
  color: #a2aace;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}

.question-wrapper .number .total {
  color: #576081;
  font-size: 18px;
}

.question-wrapper .question {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}

.answer-wrapper .answer {
  width: 95%;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  color: #fff;
  border: 3px solid #3f4868;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s linear;
}

.answer .checkbox {
  width: 15px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid #3f4868;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.answer .checkbox i {
  color: #fff;
  font-size: 10px;
  opacity: 0;
  transition: all 0.3s;
}

.answer:hover:not(.checked) .checkbox,
.answer.selected .checkbox {
  background-color: #0c80ef;
  border-color: #0c80ef;
}

.answer.selected .checkbox i {
  opacity: 1;
}

.answer.correct {
  border-color: #0cef2a;
}

.answer.wrong {
  border-color: #fc3939;
}

.question-wrapper,
.answer-wrapper {
  margin-bottom: 25px;
}

.buttons {
  position: relative;
  height: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-top: 2px solid #3a7293;
  padding: 10px;
}

.btn {
  width: 50%;
  height: 45px;
  background: #011e50;
  border: 2px solid #011e50;
  outline: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  box-shadow: 0 0 10px rgba(109, 108, 108, 0.1);
  margin-left: 8rem;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 10px;

}

.btn:hover {
  background: #0c0c0c;
  border-color: #fff;
}

.btn:disabled {
  background: #576081;
  cursor: not-allowed;
}

.btn.next {
  display: none;
}

.end-screen {
  position: relative;
  width: 500px;
  background: transparent;
  border: 3px solid #3d3952;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  transition: 0.8s ease-in-out;
  transition-delay: .25s;



}

.hide {
  display: none;
}

/* end-screen.active{
    display: none;
  } */


.end-screen .heading {
  font-size: 40px;
  text-align: center;
  background: linear-gradient(45deg, transparent, #011e50, transparent);
  border-radius: 6px;
}

.end-screen .score {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 80px;
  text-align: center;
}

.score .score-text {
  color: #a2aace;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0;

}

.score .fin-score {
  font-size: 45px;
  margin-top: 20px;
}

.end-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid #999;
  margin-top: 15px;
  padding: 15px 0 7px;
}

.end-buttons .en-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;
  background: #011e50;
  border: 2px solid #011e50;
  outline: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: 0.5s;


}

.end-buttons .en-btn:nth-child(1) {
  background: rgb(29, 81, 81);
  border-color: rgb(144, 54, 105);
}

.end-buttons .en-btn:nth-child(1):hover {
  background: #011e50;
  border-color: rgb(213, 206, 206);
  color: #fff;


}

.end-buttons .en-btn:nth-child(2):hover {
  background: #07090c;
  border-color: rgb(224, 223, 225);
  color: #fff;

}

/* Responsive */

@media(max-width:820px) {
  .Main-Container {
    max-width: 100%;

    background-size: cover;
    background-position-x: center;
    pointer-events: auto;
    transition: 0.3s ease;

  }


}

@media screen and (max-width:430px) {
  .Main-Container {
    max-width: 100%;
    background-size: cover;
    background-position-x: center;
    pointer-events: auto;
    transition: 0.3s ease;

  }

  .main {
    display: flex;
    height: 100vh;
    width: 100vw;
  }

  .home {
    position: relative;
    left: -100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .quiz-section {
    position: relative;
    left: -100%;
  }

  .quiz-section.active {
    left: 0;
  }

  .popup-info {
    width: 320px;

  }

  .settings-screen {
    width: 300px;
    margin: 7px;
  }

  .settings-screen .start {
    margin-left: 5rem;
  }

  .quiz-box {
    width: 300px;
    margin: 16px;
    margin-right: 30px;
    height: 80%;
  }

  .img-nmae {

    width: 200px;

  }

  .timer .progress {
    width: 116px;
    margin-right: 20px;
  }



  .end-screen {
    margin: 0px 100px;
  }

  .end-buttons {
    gap: 45px;
  }
  .btn{
    margin-left: 4rem;
    margin-top: 20px;
  }


}